
@import url("chrome://global/skin/");

.rowLabel {
	width: 100px;
}

.plusMinus {
	min-width: 35px;
}

.header {
	background-color: white;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}

#interfaces {
	height: 100px;
}

#pathInput {
}

statusbar {
	align: right;
	padding-right: 3px;
	padding-top: 1px;
}

.createButton {
	width:80px;
	font-weight:bold;
}

.groove {
}

.listItemClass {
	font-weight:bold;
}

.listItemInterface {
	font-weight:bold;
	color:blue;
}

.blueKey {
	color:blue;
	width:20px;
	height:20px;
}

.italic {
	font-weight:italic;
}

.mainButton {
	width:80px;
}

.launchButton {
	font-weight:bold;
}
